#welcome-head{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
    margin: 30px 0 50px;
}

#welcome-img{
    max-width: 500px;
    margin: 0 auto;
}

/* ********** CARD STYLE ********** */

#welcome-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    justify-items: stretch;
    margin: 70px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    max-width: 250px;
    height: 380px;
    text-align: center;
    padding: 10px;
    /* background: linear-gradient(120deg, var(--color5) 10%, var(--color1) ); */
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #BBB;
    cursor: pointer;
    transition: all .15s ease-out;
}

.card-title{
    font: 600 2.2rem 'Rajdhani', sans-serif !important;
    color: var(--color3);
    margin: 0;
}

.card-img{
    font-size: 8rem;
    user-select: none;
    margin: 5px auto;
    transform: scale(1.05);
    transform-origin: top center;
    transition: transform .2s ease-out;

}

.card-subtitle {
    font: 400 0.9rem'Roboto Mono', monospace !important;
    margin: 0 auto;
    position: absolute;
    transform-origin: top center;
    top: 65%;
    left: 0;
    width: 100%;
    transition: top 150ms ease-out;
}

.card-caption {
    /* font-size: smaller; */
    visibility: hidden;
    opacity: 0;
    margin: 0;
    transform: translatey(30px);
    transition: all .2s ease;
}

.card-button {
    font-size: 1rem;
    width: 100px;
    margin: 10px auto 20px;
    padding: 5px 2px;
    color: var(--color2);
    background-color: white;
    border:2px solid var(--color2);
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s ease;
}

.card:hover {
    border-radius: 20px 20px 20px 20px;
    outline: 3px solid var(--color2);
    box-shadow: 0px 0px 15px var(--color2), inset 0px 0px 10px var(--color2);
    /* transform: scale(1.02); */
}

.card:hover .card-img{
    transform: scale(0.8);
}

.card:hover .card-subtitle{
    top: 50%;
    opacity: .7;
}

.card:hover .card-caption{
    visibility: visible;
    transform: translatey(0px);
    opacity: 1;
}

.card:hover .card-button {
    color: whitesmoke;
    background-color: var(--color2);
    box-shadow: 0px 0px 5px var(--color2)
}

.card:nth-child(1):hover{
    border-radius: 50px 20px 20px 20px;
}
.card:nth-child(3):hover{
    border-radius: 20px 50px 20px 20px;
}
.card:nth-child(4):hover{
    border-radius: 20px 20px 20px 50px;
}
.card:nth-child(6):hover{
    border-radius: 20px 20px 50px 20px;
}

.card:active {
    box-shadow: 0px 0px 20px 5px var(--color2);
    transform: scale(0.98);
}


/* Typescript icon */

#typescript{
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
    margin: 5px auto;
    color: snow;
    font-size: 2.8rem;
    text-align: end;
    line-height: 160px;
    padding: 5px;
    user-select: none;
}


@media (max-width: 900px) {

    #welcome-cards{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        row-gap: 50px;
        /* justify-items: center; */
        margin: 50px 20px;
    }

    .card{
        height: 350px;
    }

    .card:nth-child(1):hover{
        border-radius: 50px 20px 20px 20px;
    }
    .card:nth-child(2):hover{
        border-radius: 20px 50px 20px 20px;
    }
    .card:nth-child(3):hover{
        border-radius: 20px 20px 20px 20px;
    }
    .card:nth-child(4):hover{
        border-radius: 20px 20px 20px 20px;
    }
    .card:nth-child(5):hover{
        border-radius: 20px 20px 20px 50px;
    }
    .card:nth-child(6):hover{
        border-radius: 20px 20px 50px 20px;
    }

    #welcome-head{
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 30px 30px 50px;
    }
    
    #welcome-text {
        order: -1;
        text-align: center;
    }
}

@media (max-width: 600px) {

    #welcome-cards{
        grid-template-columns: 1fr;
        gap: 20px;
        row-gap: 50px;
        /* justify-items: center; */
        margin: 50px 20px;
    }

    .card:nth-child(even):hover{
        border-radius: 50px 20px 50px 20px;
    }
    .card:nth-child(odd):hover{
        border-radius: 20px 50px 20px 50px;
    }

}

