h2{
    margin: 5px 0;
}

ul{
    padding-left: 10px;
}

li{
    list-style-type: none;
    font-size: 1.1rem;
    color: #444;
    margin: 5px 0;
}

li > a{
    cursor: pointer;
    user-select: none;
}

li > a:hover{
    color: var(--color2);
}