
<h1 class="text-center" 
    id="head-title"
    routerLink="''">The Final FrontEnd Master Cheatsheet</h1>

<nav mat-tab-nav-bar mat-align-tabs="center"
    animationDuration="0ms">

    <a mat-tab-link routerLink="html" routerLinkActive="nav-ative">
        <i class="fa-brands fa-html5 fs1-5"></i>
        <span class="mono fs1-5">HTML</span> 
    </a>

    <a mat-tab-link routerLink="css" routerLinkActive="nav-ative">
        <i class="fa-brands fa-css3-alt fs1-5"></i>
        <span class="mono fs1-5">CSS</span> 
    </a>

    <a mat-tab-link routerLink="sass" routerLinkActive="nav-ative">
        <i class="fa-brands fa-sass fs1-5"></i>
        <span class="mono fs1-5">SASS</span> 
    </a>

    <a mat-tab-link routerLink="typescript" routerLinkActive="nav-ative">
        <i class="fa-brands fa-js fs1-5"></i>
        <span class="mono fs1-5">TypeScript</span> 
    </a>

</nav>

