<h1 class="text-center"
    id="head-title"
    routerLink="''"
    (click)="hideSelectedRoute(navSelection)">The Final Frontend Master Cheatsheet</h1>

<nav>
    <ul class="nav-menu">
        <li routerLink="html"
            routerLinkActive="active"
            class="nav-link"
            (click)="selectedRoute(navLink1,navSelection)"
            #navLink1>
            <i class="fa-brands fa-html5 fs-4"></i>
            <span class="mono fs1-5">HTML</span>
        </li>

        <li routerLink="css"
            routerLinkActive="active"
            class="nav-link"
            (click)="selectedRoute(navLink2,navSelection)"
            #navLink2>
            <i class="fa-brands fa-css3-alt fs-4"></i>
            <span class="mono fs1-5">CSS</span>
        </li>

        <li routerLink="sass"
            routerLinkActive="active"
            class="nav-link"
            (click)="selectedRoute(navLink3,navSelection)"
            #navLink3>
            <i class="fa-brands fa-sass fs-4"></i>
            <span class="mono fs1-5">SASS</span>
        </li>

        <li routerLink="typescript"
            routerLinkActive="active"
            class="nav-link"
            (click)="selectedRoute(navLink4,navSelection)"
            #navLink4>
            <div class="typescript-logo">TS</div>
            <span class="mono fs1-5">TypeScript</span>
        </li>

        <li routerLink="angular"
            routerLinkActive="active"
            class="nav-link"
            (click)="selectedRoute(navLink5,navSelection)"
            #navLink5>
            <i class="fa-brands fa-angular fs-4"></i>
            <span class="mono fs1-5">Angular</span>
        </li>

        <li routerLink="git"
            routerLinkActive="active"
            class="nav-link"
            (click)="selectedRoute(navLink6,navSelection)"
            #navLink6>
            <i class="fa-brands fa-git-alt fs-4"></i>
            <span class="mono fs1-5">Git</span>
        </li>

        <div class="nav-selection hide"
             #navSelection></div>
    </ul>
</nav>