/* Fonts Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600&display=swap');

/* Variables */

:root{
    --color1: #F4F1DE;
    --color2: #E07A5F;
    --color2-light: #EAB69F;
    --color3: #3D405B;
    --color3-light: #666B99;
    --color3-extra-light: #B3B5CC;
    --color4: #81B29A;
    --color4-light: #B7D3C5;
    --color5: #F2CC8F;
    --color5-light: #F8E5C6;
}

/* 路路路路路路路路路路 MAIN STRUCTURE 路路路路路路路路路路 */



body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 18px; 
    background-color: #FDFAF8;
}

/* HACK: Posible dark theme */
body.dark-theme{
    background-color: #20272b;
    color: #ccc;
}

app-root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    position: sticky;
    top: -110px;
    background-color: var(--color1);
    z-index: 1;
}

main{
    /* width: 900px; */
    display: grid;
    grid-template-columns: 1fr 900px 1fr;
    gap: 20px;

    /* margin: 0 auto; */
    /* padding: 20px; */
}

#router{
    max-width: 900px;
}

#content-menu{
    position: sticky;
    top: 80px ;
    align-self: start;
}

footer{
    /* align-self: flex-end; */
    margin-top: 50px;
    min-height: 50px;
    width: 100%;
    background-color: var(--color1);
}


/* 路路路路路路路路路路 GENERAL CLASSES 路路路路路路路路路路 */

/* Text styles */

#head-title{
    font: 600 3rem 'Rajdhani', sans-serif !important;
    color: var(--color3);
    padding: 20px 0 30px;
    margin: 0;
}

.mono {
    font-family: 'Roboto Mono', monospace;
}

.fs-1{
    font-size: 1rem;
}

.fs-2{
    font-size: 1.2rem;
}

.fs-3{
    font-size: 1.5rem;
}

.fs-4{
    font-size: 1.8rem;
}

.fs-5{
    font-size: 2.3rem;
}

.fs1-5{
    font-size: 1.5rem;
}

.fw-500{
    font-weight: 500;
}

.text-center{
    text-align: center !important;
}

.mt-1{
    margin-top: .5rem;
}

.mt-2{
    margin-top: 1rem;
}

.mt-3{
    margin-top: 1.5rem;
}

.mt-4{
    margin-top: 2rem;
}

.mt-5{
    margin-top: 3.5rem;
}

.mt-6{
    margin-top: 5rem;
}

.ms-1{
    margin-left: .5rem;
}

.ms-2{
    margin-left: 1rem;
}

.ms-3{
    margin-left: 1.5rem;
}

.ms-4{
    margin-left: 2rem;
}

.ms-5{
    margin-left: 3rem;
}

.me-1{
    margin-right: .5rem;
}

.me-2{
    margin-right: 1rem;
}

.me-3{
    margin-right: 1.5rem;
}

.me-4{
    margin-right: 2rem;
}

.me-5{
    margin-right: 3rem;
}

.page-title{
    text-align: center;
    font: 600 3rem 'Rajdhani', sans-serif !important;
    margin: 3rem 0 2rem !important;
}

.title-2{
    font-size: 2rem ;
    text-align: center;
    margin-top: 3rem ;
}

.title-3{
    text-decoration: underline;
    font-size: 1.2rem !important;
}

.link{
    text-decoration: none;
    font-weight: 700;
    color: cornflowerblue;
}

.link:hover{
    text-decoration: underline;
}

.tip{
    background-color: var(--color2-light);
    position: relative;
    padding: 10px 20px 10px 40px;
    margin: 10px;
    color: #444;
    box-shadow: 2px 2px 10px #DDD;
    border-radius: 10px;
}

.tip::before{
    content: '';
    position: absolute;
    top: 5px;
    left: 13px;
    font-size: 1.2rem;
    margin-right: 5px;
    margin-bottom: 1rem;
}

.op-6,
.muted{
    opacity: .6;
}

.fa-html5{
    color: #e07a5f;
}

.fa-css3-alt{
    color: cadetblue;
}

.fa-sass{
    color: palevioletred;
}

.fa-js{
    color: goldenrod;
}

.fa-angular {
    color: darkred;
}

.fa-git-alt{
    color: #e84d31;
}

.text-color1{
    color: var(--color1)
}

.text-color2{
    color: var(--color2)
}

.text-color3{
    color: var(--color3)
}

.text-color4{
    color: var(--color4)
}

.text-color5{
    color: var(--color5)
}

/* Box Styles */

.float-rigth{
    float: right;
}

.h-center{
    display: block;
    margin: 20px auto;
}

.img-fluid{
    padding: 10px;
    max-width: 100%;
    height: auto;
    display: flex;
    margin: 10px auto;
}

.column-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

hr{
    width: 70%;
    border: 2px solid #ddd;
    border-radius: 100%;
    box-shadow: 0px 0px 5px #eee;
    
}

/* 路路路路路路路路路路 NAVBAR 路路路路路路路路路路 */

#head-title{
    cursor: pointer;
    width: fit-content;
    margin: 0 auto;
}

.nav-menu{
    position: relative;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom:0 ;
    overflow: hidden;
}

.nav-link{
    padding: 1rem;
    vertical-align: bottom;
    cursor: pointer;
    user-select: none;
    opacity: .7;
    filter: saturate(.7);
}

.nav-selection{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color2);
    bottom: 5px;
    transform-origin: 50% 50%;
    transition: bottom .3s ease-in-out;
}

.nav-selection.active{
    transition: bottom .3s ease-in-out, left .3s ease-in-out;
}

.nav-selection.hide{
    bottom: -20px;
    transition: left 0s ease-in-out, bottom .3s ease;
}

.nav-link.active{
    opacity: 1;
    filter: saturate(1.5);
}

.nav-link i,
.nav-link div{
    margin: 0 10px;
}

.nav-link:hover {
    opacity: 1;
    transition: .2s ease;
    filter: saturate(1.5);
}

.typescript-logo{
    display: inline-block;
    font-family: monospace;
    width: 20px;
    height: 20px;
    background-color: cornflowerblue;
    margin: 5px;
    color: snow;
    font-size: .7rem;
    text-align: end;
    line-height: 30px;
    padding: 2px;
    user-select: none;
}

/* 路路路路路路路路路路 PAGES 路路路路路路路路路路 */

dt {
    margin-top: 1rem;
}

.option-list {
    list-style-type: none;
}

/* 路路路路路路路路路路 SCROLL-UP BUTTON 路路路路路路路路路路 */

#scroll-up{
    position: fixed;
    bottom: 60px;
    right: 5vw;
}

#btn-scroll-up{
    border: 3px solid var(--color2);
    color: var(--color1);
    background-color: var(--color2);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    cursor: pointer;
}

/* 路路路路路路路路路路 MEDIA QUERY 路路路路路路路路路路 */

@media (max-width: 1200px) {
    #content-menu{
        display: none;
    }
    main{
        grid-template-columns: 1fr auto 1fr;
    }
}


@media (max-width: 900px) {
    .column-2{
        display: block;
    }
    

    /* #welcome-cards {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        background-color: red;
    } */
}