<h2 class="page-title">Git</h2>

<p>Git es un software de código abierto para realizar un <b>control de versiones distribuido</b> de cualquier proyecto
    de desarrollo y programación.</p>

<p>Git permite trabajar a distintos miembros de un equipo en el mismo proyecto, cada uno con una copia del proyecto
    independiente para ir efectuando contribuciones al proyecto original. Por este motivo se considera distributibo.</p>

<p>Por otro lado, <b>permite trabajar en multiples brancas</b> para ir construyendo el proyecto por distintos lados e ir
    guardando la progresión con su sistema de control de versiones con la que se guardan copias del proyecto para poder
    ir versionando y volver a una copia antigua en caso necesario.</p>

<p>Git tiene una <a class="link"
       href="https://git-scm.com/"
       target="_blank"
       rel="noopener noreferrer">página oficial</a> y un <a class="link"
       href="https://git-scm.com/book/es/v2"
       target="_blank"
       rel="noopener noreferrer">libro</a> con toda la documentación.</p>

<p>Para poder utilizar git previamente se debe instalar en nuestra máquina. Se puede descargar directamente desde su <a
       class="link"
       href="https://git-scm.com/downloads"
       target="_blank"
       rel="noopener noreferrer">página web</a>.</p>

<p>Git se puede utilizar directamente en una terminal (incluyendo la terminal Git Bash especializada en git) o en un
    entorno gráfico que permite trabajar git de una manera más visual. Hay varias opciones de entorno gráfico <a
       class="link"
       href="https://git-scm.com/download/gui/windows"
       target="_blank"
       rel="noopener noreferrer">aquí</a>.</p>

<p>Como en cualquier otro programa que se ejecuta en la terminal tenemos <code>git --version</code> para saber la
    version instalada y <code>git --help</code> para obtener las palabras claves que se utilizan en la terminal.</p>

<p>Muy recomendable revisar <a class="link"
       href="https://training.github.com/downloads/es_ES/github-git-cheat-sheet.pdf"
       target="_blank"
       rel="noopener noreferrer">este cheatsheet</a> con los comandos principales de git</p>

<h4 class="title-3">Comandos básicos</h4>

<p>Dejando a parte Git, algunos de los comandos básicos para cualquier terminal son los siguientes:</p>

<dl>
    <dt><code>ls</code></dt>
    <dd>Lista todas las ubicaciones a las que tiene acceso en la ruta en la que se encuentre.</dd>

    <dt><code>cd UBICACIÓN</code></dt>
    <dd>Acceder a una nueva ruta. Ej <i class="muted">cd desktop/curso-git/capitulo_1</i>. <br>
        Con <code>cd ..</code> se vuelve a la ruta anterior.</dd>

    <dt><code>pwd</code></dt>
    <dd>Indica la ruta donde se encuentra.</dd>

    <dt><code>mkdir "CARPETA"</code></dt>
    <dd>crea una nueva carpeta en la ruta con el nombre indicado.</dd>

</dl>

<!-- INICIO -->
<h3 class="title-2">Inicio</h3>

<p>Para empezar a utilizar git es necesario configurarlo con un correo y ejecutarlo</p>

<dl>
    <dt><code>git config</code></dt>
    <dd>Comando para establecer la configuración (usuario).</dd>

    <ul class="option-list">
        <li>
            <span class="git-option">--global</span>
            <i class="fa-solid fa-right-long"></i>
            Establece la configuración para toda la máquina.
        </li>
        <li>
            <span class="git-option">user.name "NOMBRE"</span>
            <i class="fa-solid fa-right-long"></i>
            Crea el nombre de usuario, es obligatorio para empezar a utilizar git.
        </li>
        <li>
            <span class="git-option">user.email "EMAIL"</span>
            <i class="fa-solid fa-right-long"></i>
            Crea el email de usuario, es obligatorio para empezar a utilizar git.
        </li>
        <li>
            <span class="git-option">init.defaultBranch NOMBRE</span>
            <i class="fa-solid fa-right-long"></i>
            Se puede elegir el nombre para la primera branca del proyecto. Por defecto se crea con nombre <span
                  class="muted">master</span>.
        </li>
        <li>
            <span class="git-option">alias.NOMBRE "CONFIGS"</span>
            <i class="fa-solid fa-right-long"></i>
            Permite crear una abreviatura para ejecutar un comando que pueda tener varias opciones, con el fin de
            ejecutar un mismo comando mucho más rápido. <br>
            Ej. <i>git config --global alias.tree "log --graph --decorate --all --oneline"</i> guardará toda esta
            configuración para ver los logs con el alias <i>tree.</i>
        </li>
    </ul>

    <dt><code>git ALIAS</code></dt>
    <dd>Ejecuta el alias que hayamos guardado previamente en <i>git config</i></dd>

    <dt><code>git init</code></dt>
    <dd>Comando para empezar a utilizar git en la ruta donde se ejecuta. Este comando crea una carpeta oculta
        <i>.git</i> donde se almacena
    </dd>

</dl>

<p>Si hay algunos archivos que no queremos que nunca se guarden ni se tengan en cuenta para los commits ni versiones de
    git debemos ingluirlos en un archivo llamado <strong>.gitignore</strong></p>

<p>Todos los archivos que se incluyan en este archivo no seran guardados en ningún momento por git ni github. </p>

<p>Muy útil para ignorar archivos sensibles, las carpetas <span class="muted">/node-modules, /dist, /tmp</span> y de más
    archivos temporales o de la propia máquina.</p>

<p>Al crear este archivo debe ser añadido a git en un commit para que tenga en cuenta los archivos que debe ignorar.</p>

<pre>
    git add .gitignore
    git commit -m "gitignore file added"
</pre>

<p>Al crear un proyecto de Angular, el archivo .gitignore se crea por defecto con todas estas carpetas.</p>

<!-- COMANDOS BÁSICOS -->
<h3 class="title-2">Comandos Básicos</h3>

<p>Con los siguientes comandos podremos ir capturando el proyecto a medida que avanzamos y vamos modificandolo y
    ampliandolo. </p>

<dl>
    <dt><code>git status</code></dt>
    <dd>Nos da información de como esta el proyecto en git (brancas, commits y estado de archivos).</dd>

    <dt><code>git add ARCHIVOS</code></dt>
    <dd>Permite elegir que archivos se van a tener en cuenta para ir guardando el progreso. Podemos añadir todos los
        archivos escribiendo un punto "." en lugar del nombre de los archivos. Los archivos pasan a estar en estado
        <span class="muted">stage</span>.
    </dd>

    <dt><code>git commit</code></dt>
    <dd>Guarda los archivos añadidos en la branca donde nos encontremos. Crea una captura de como se encuentran los
        archivos en ese preciso momento. <br>
        Tras ejecutar este comando se informa de los cambios realizados en la branca y del <span
              class="muted">HASH</span>
        del commit (este hash es un identificador único del commit que puede resultar
        útil para otros comandos a los que tengamos que hacer referencia a dicho commit). <br>
        <strong>HEAD</strong> se denomina al último commit sobre el que estamos trabajando.
    </dd>

    <ul class="option-list">
        <li>
            <span class="git-option">-m "MENSAJE"</span>
            <i class="fa-solid fa-right-long"></i>
            Obligatorio añadir un mensaje/comentario que describa lo que hemos guardado o el progreso aplicado.
        </li>
    </ul>

    <dt><code>git log</code></dt>
    <dd>Imprime el historial de commits y el usuario que lo ha realizado.</dd>

    <ul class="option-list">
        <li>
            <span class="git-option">--graph</span>
            <i class="fa-solid fa-right-long"></i>
            Muestra el historial con un gráfico de las ramificaciones.
        </li>
        <li>
            <span class="git-option">--pretty=FORMATO</span>
            <i class="fa-solid fa-right-long"></i>
            Muestra el historial con un formato diferente, puede ser: oneline, short, full, fuller y format.
        </li>
        <li>
            <span class="git-option">--stat</span>
            <i class="fa-solid fa-right-long"></i>
            Muestra más datos de cada commit (archivos modificados, lineas modificadas o eliminadas).
        </li>
        <li>
            <span class="git-option">--shortstat</span>
            <i class="fa-solid fa-right-long"></i>
            Muestra un resumen de las modificaciones de cada commit.
        </li>
        <li>
            <span class="git-option">--name-only</span>
            <i class="fa-solid fa-right-long"></i>
            Muestra la lista de los archivos afectados en cada commit.
        </li>
        <li>
            <span class="git-option">-NÚMERO</span>
            <i class="fa-solid fa-right-long"></i>
            Muestra los últimos commits guardados que indiquemos.
        </li>
        <li>
            <span class="git-option">--since=TIEMPO</span>
            <i class="fa-solid fa-right-long"></i>
            Muestra historial desde el tiempo indicado (se debe indicar en ingles) o fecha. Ej. <i>git log
                --since=2024-01-16</i> o por tiempo <i>git log --since=2.weeks.1.day</i>.
        </li>
        <li>
            <span class="git-option">--after=FECHA</span>
            <i class="fa-solid fa-right-long"></i>
            Muestra historial despues de la fecha indicada (formato ingles). Ej. <i>git log --after=2023-01</i>.
        </li>
        <li>
            <span class="git-option">--until=FECHA</span>
            <i class="fa-solid fa-right-long"></i>
            Muestra historial hasta la fecha indicada (formato ingles). Ej. <i>git log --until=2024-01</i>.
        </li>
        <li>
            <span class="git-option">--before=FECHA</span>
            <i class="fa-solid fa-right-long"></i>
            Muestra historial de antes de la fecha indicada (formato ingles). Ej. <i>git log --before=2023-01</i>.
        </li>
        <li>
            <span class="git-option">--author=USERNAME</span>
            <i class="fa-solid fa-right-long"></i>
            Muestra historial de commits de un determinado usuario.
        </li>
    </ul>

    <dt><code>git checkout ARCHIVO / COMMIT_HASH / tags/ETIQUETA / RAMA</code></dt>
    <dd>En caso de que el arhivo este en estado <span class="status">Modified</span>, se deshacen los cambios y vuelve a
        estar como en su último commit. <br>
        Si ponemos el Hash del Commit que obtenemos con <i>git log</i> volveremos al punto de se mismo commit,
        deshaciendo todas los modificaciones e incluso eliminando archivos en caso de haber creado alguno nuevo. <br>
        En caso de poner tags/ETIQUETA mueve el Head a la etiqueta indicada. <br>
        Si indicamos la RAMA cambiamos a la rama especificada y ponemos el Head en su último commit.</dd>

    <dt><code>git diff</code></dt>
    <dd>Se imprime en pantalla los cambios de todos los archivos con estado <span class="status">Modified</span></dd>

    <dt><code>git reset</code></dt>
    <dd>Deshace los últimos commits para mover el HEAD. Es obligatorio añadir parametros para ejecutarlo</dd>

    <ul class="option-list">
        <li>
            <span class="git-option">HEAD ARCHIVO</span>
            <i class="fa-solid fa-right-long"></i>
            Permite modificar un archivo <span class="status">Modified</span> a su estado del commit Head.
        </li>
        <li>
            <span class="git-option">--hard COMMIT_HASH</span>
            <i class="fa-solid fa-right-long"></i>
            Descarta los commits posteriores a COMMIT_HASH y permite mover el Head al commit indicado.
        </li>
        <li>
            <span class="git-option">--soft COMMIT_HASH</span>
            <i class="fa-solid fa-right-long"></i>
            Mueve el Head al commit indicado sin descartar los commits posteriores.
        </li>
        <li>
            <span class="git-option">--merge COMMIT_HASH</span>
            <i class="fa-solid fa-right-long"></i>
            Mueve el Head al commit indicado haciendo merge de los cambios con el Head anterior.
        </li>
    </ul>

    <dt><code>git reflog</code></dt>
    <dd>Historial completo de commits, incluyendo incluso los que hemos deshecho con <i>git reset o git checkout</i>.
        <br>
        Podemos volver al commit que queramos con <i>git reset --hard COMMIT_HASH</i> (incluso a commits deshechos).
    </dd>

    <dt><code>git tag </code></dt>
    <dd>Permite añadir etiquetas tipo versionado después de un commit importante. Muy útil para ir marcando el progreso
        con versiones e ir diferenciando el progreso con los cambios más relevantes. Muy habitual ir haciendo tags con
        la nomenclatura <i>v0.0.0</i>. <br>
        Si no añadimos nada más este comando nos muestra el historial de tags</dd>

    <ul class="option-list">
        <li>
            <span class="git-option">ETIQUETA</span>
            <i class="fa-solid fa-right-long"></i>
            Añade el tag o versión con el texto ETIQUETA.
        </li>
        <li>
            <span class="git-option">-a ETIQUETA</span>
            <i class="fa-solid fa-right-long"></i>
            Añade el tag de manera anotada, incluyendo username, correo, fecha, mensaje, etc.
        </li>
        <li>
            <span class="git-option">-m "MENSAJE"</span>
            <i class="fa-solid fa-right-long"></i>
            Permite añadir un comentario al tag.
        </li>
        <li>
            <span class="git-option">--merge COMMIT_HASH</span>
            <i class="fa-solid fa-right-long"></i>
            Mueve el Head al commit indicado haciendo merge de los cambios con el Head anterior.
        </li>
    </ul>

    <p>En desarrollo de software hay un modo de ir versionando el progreso que va marcando el avance teniendo en cuenta
        3 números vX.X.X: </p>

    <img src="./../../../assets/img/versioning.jpg"
         alt="Software versioning system"
         width="500"
         class="img-fluid text-center">

    <dt><code>git show ETIQUETA</code></dt>
    <dd>Permite ver la información de la etiqueta anotada.</dd>

</dl>

<!-- ESTADOS ARCHIVOS -->
<h4 class="title-3">Estados archivos</h4>

<p>Los archivos pueden fluctuar por distintos estados dependiendo de los comandos ejecutados y de las modificaciones que
    hagamos en ellos y con los commits:</p>

<ul>
    <li>
        <strong>UNTRACKET</strong>
        ➡ El archivo aún no ha sido añadido a git, por lo que no se tiene en cuenta para ningún comando.
    </li>
    <li>
        <strong>STAGE</strong>
        ➡ El archivo ha sido añadido para guardarse en un commit por primera vez.
    </li>
    <li>
        <strong>????????</strong>
        ➡ DESCIPTION.
    </li>
    <li>
        <strong>MODIFIED</strong>
        ➡ El archivo que ya habia sido commiteado se ha modificado y aún no se ha ejecutado ningún commit para guardar
        los cambios.
    </li>

</ul>

<!-- BRANCAS -->
<h3 class="title-2">Ramas</h3>

<p>Una de las principales características de git es que permite trabajar en diferentes Ramas paralelas, lo que permite
    organizar el trabajo de una manera más eficiente sobretodo si hay varias personas implicadas.</p>

<p>Hay varias técnicas para organizar las Ramas pero principalmente se distingue la branca master donde se guardas
    versiones finales, branca de trabajo donde se van juntando los avances, Ramas de funcionalidades donde cada
    persona añade su parte individual y Ramas de arreglos utilizadas para corregir fallos.</p>

<img src="./../../../assets/img/git-branch-workflow.webp"
     alt="distribución de Ramas en GIT"
     class="img-fluid">

<dl>
    <dt><code>git branch</code></dt>
    <dd>Comando que permite ir creando nuevas ramas en nuestro proyecto. <br>
        Si no añadimos nada más, este comando muestra todas las brancas que hay y marca en la que estamos trabajando
        actualmente. </dd>

    <ul class="option-list">
        <li>
            <span class="git-option">NOMBRE</span>
            <i class="fa-solid fa-right-long"></i>
            Crea una nueva rama con el nombre indicado. La rama se crea a partir del commit del Head donde nos
            encontremos.
        </li>
        <li>
            <span class="git-option">NOMBRE --delete (-d)</span>
            <i class="fa-solid fa-right-long"></i>
            Borra la rama indicada. Podemos añadir <i>--force</i> para forzar la eliminación. <br>
        </li>
        <li>
            <span class="git-option">NOMBRE --move (-m)</span>
            <i class="fa-solid fa-right-long"></i>
            Cambia el nombre de la rama en la que estamos.
        </li>

    </ul>

    <dt><code>git switch RAMA</code></dt>
    <dd>Permite moverse a la rama indicada. <br>
        Es habitual cambiar de rama también con <i>git checkout RAMA</i>, este comando hace descargarse la rama si
        estamos trabajando en remoto y mover el Head a su último commit. <br>
        Moverse de rama implica que los archivos y las modificaciones pueden desaparecer si la otra rama tiene un commit
        más antiguo.</dd>

    <dt><code>git merge RAMA</code></dt>
    <dd>Fusiona la rama indicada en la rama en la que estamos, es decir que <strong> incluye todos los cambios de RAMA
            en la rama
            que donde estamos.</strong> Esta acción genera un nuevo commit en la branca donde aplicamos el merge.<br>
        Ejemplo: para fusionar los cambios que hemos hecho en la rama <i>bug_fix</i> debemos cambiar primero a la rama
        <i>master</i> i ejecutar <i>git merge bug_fix</i>. <br>
        Al hacer merge la RAMA que hemos incluido en la rama actual sigue existiendo. <strong> Si no se va a trabajar
            más en esa rama es recomendable eliminarla con <i>git branch -d RAMA</i></strong> para evitar tener
        multiples ramas activas
    </dd>

</dl>

<p>Al hacer merge se pueden generar <strong>conflictos</strong> cuando hay una modificación en ambas ramas de una misma
    linea de código. En este caso git avisa del conflicto para que se <strong>elija la modificación definitiva</strong>
    que se debe permanecer en el merge y el nuevo commit generado.</p>

<dl>
    <dt><code>git stash</code></dt>
    <dd>Permite dejar los archivos con estado <span class="status">Modified</span> guardados sin necesidad de hacer
        commit. <br>
        Muy útil cuando queremos cambiar de rama sin haber finalizado el código, hacemos <i>git stash</i>, se queda
        guardado el progreso y entonces git nos deja cambiar de rama guardando las modificaciones.</dd>

    <ul class="option-list">
        <li>
            <span class="git-option">list</span>
            <i class="fa-solid fa-right-long"></i>
            Informa de los stash que hay guardados.
        </li>
        <li>
            <span class="git-option">pop</span>
            <i class="fa-solid fa-right-long"></i>
            Recupera los cambios guardados en el stash.
        </li>
        <li>
            <span class="git-option">drop</span>
            <i class="fa-solid fa-right-long"></i>
            Elimina el stash guardado y permite volver a como estaban los archivos en el último commit.
        </li>
    </ul>

    <dt><code>git diff RAMA</code></dt>
    <dd>Muestra las diferencias entre la rama actual y la rama indicada en el comando.</dd>
</dl>

<!-- GITHUB -->
<h3 class="title-2">GITHUB</h3>
<p><a class="link"
       href="http://github.com"
       target="_blank"
       rel="noopener noreferrer">Github</a> es una plataforma online que permite utilizar git. El proyecto queda
    guardado remotamente y permite compartirlo con otras personas para poder trabajar en el mismo proyecto remotamente.
</p>

<p>Github permite ver perfiles y repositorios de otros usuarios, por lo que es una buena herramienta para mostrar el
    trabajo realizado y los proyectos tanto personales como en los que se ha participado. Es recomendable organizar y
    ofrecer información para todos los visitantes que puedan acabar en nuestro perfil.</p>

<p>Muy importante crear la <strong>página principal</strong> donde podemos mostrar la información que queramos que la
    gente vea nada más entrar en nuestro perfil. Para ello se debe crear un nuevo repositorio con el mismo nombre que
    tenemos de usuario y con un <i>readme</i>.</p>

<p>Tanto en la página principal como en cualquier otro documento <i>readme</i> o escrito de Github se utiliza el <a
       href="https://www.markdownguide.org/cheat-sheet/"
       target="_blank"
       rel="noopener noreferrer"
       class="link">markdown</a> para enriquezer el texto. También se acepta código HTML.</p>

<p>Se puede <strong>sincronizar un proyecto</strong> de git con Github, es decir de local a remoto o al revés, de Github
    a git. Para empezar a sincronizar proyectos en Github primero de todo debemos autenticarnos, lo más recomendable es
    hacerlo con SSH, consulta <a class="link"
       href="https://docs.github.com/en/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent"
       target="_blank"
       rel="noopener noreferrer">este enlace</a> para más información. Este tipo de autenticación crear una carpeta con
    unos archivos utilizados para autenticar, podemos comprobar si ya hemos realizado este paso con el comando
    <code>ls -al ~/.ssh</code> en la consola de Git Bash.
</p>

<p>Para trabajar con Github desde nuestro equipo local se utilizan varios comandos:</p>

<dl>
    <dt><code>git remote</code></dt>
    <dd>Connecta el proyecto con el repositorio remoto de github</dd>

    <ul class="option-list">
        <li>
            <span class="git-option">add origin LINK_REPO</span>
            <i class="fa-solid fa-right-long"></i>
            Se indica a que repositorio remoto debe conectarse. Ej. <i>git remote add origin
                git@github.com:boboxanqui/Apuntes.git</i>
        </li>
    </ul>

    <dt><code>git push</code></dt>
    <dd>Actualiza todos los últimos commits con el repositorio remoto.</dd>

    <dt><code>git fetch</code></dt>
    <dd>Descarga en local el historial de cambios, es decir los datos de los últimos commits sin descargar las
        modificaciones. Útil para comprobar si hay algun conflicto.</dd>

    <dt><code>git pull</code></dt>
    <dd>Descarga el historial de cambios y las modificaciones.</dd>

    <dt><code>git clone LINK_REPO</code></dt>
    <dd>Se descarga un repositorio remoto completo a local.</dd>
</dl>

<!-- Flujo colaborativo -->
<h4 class="title-3">Flujo colaborativo</h4>

<p>Github permite trabajar a varias personas en un único proyecto. Para poder participar en un proyecto es necesario dar
    permisos a los contribuyentes.</p>

<p>Para añadir cambios a un proyecto, primero es necesario hacer un <strong>fork</strong> del proyecto original. Se hace
    directamente desde Github, dentro del repositorio del usuario que tiene el proyecto. Esto crea una copia del
    repositorio en nuestro usuario, en el cual podremos hacer las modificaciones que queramos aportar haciendo un
    <i>clone</i> a nuestro equipo local para poder trabajar.</p>

<img src="../../../assets/img/github-fork-button.webp"
     alt="Captura de pantalla de Github donde se indica el botón de Fork"
     class="img-fluid text-center">

<p>Para poder añadir los cambios al proyecto original, se hace a través de <strong>Pull Request</strong> (PR de forma
    abreviada). La PR se hace directamente desde Github, en la copia del proyecto que tenemos en nuestra cuenta. </p>

<p>Al hacer una PR podemos comparar las modificaciones con el proyecto original, ver en la parte superior la rama y el proyecto al que queremos hacer los cambios. También es aconsejable añadir un título (explicando el cambio) y podemos dejar comentarios. Una vez enviada la PR debe ser el usuario del proyecto original quien apruebe los cambios, deje un comentario o solicite modificar algo más. Una vez aprobado debe hacer <i>merge</i> a su proyecto. </p>

<p>El flujo completo de trabajo seria:</p>

<ol>
    <li>Hacemos <strong>fork</strong> del proyecto.</li>
    <li><strong>Clonamos</strong> el proyecto para tenerlo en local y poder trabajar en él.</li>
    <li>Creamos una <strong>nueva rama</strong> donde añadiremos nuestras modificaciones.</li>
    <li>Hacemos un <strong>push</strong> a nuestro repositorio remoto para añadir los cambios.</li>
    <li>Solicitamos la <strong>pull request</strong> al proyecto originial desde nuestra nueva rama a la rama correspondiente del proyecto original.</li>
    <li>Esperamos la <strong>aprobación o revisión</strong> de nuestros cambios por parte del autor.</li>
</ol>

<p>Las PR pueden generar <strong>conflictos</strong> cuando hay un cambio solicitado con una PR en una misma linea que ya ha sido modificada.</p>

<p>Github nos permite solventar los conflictos directamente desde su web, de modo que podemos quedarnos con una de las dos partes, añadir las dos o hacer los cambios requeridos.</p>

<p>Después de completar una PR es recomendable <strong>sincronizar</strong> el repositorio remoto de nuestro usuario para tener todos los nuevos cambios que se han añadido al proyecto original y poder seguir trabajando con el proyecto actualizado. Lo podemos hacer directamente desde Github con la opción <strong>Sync fork</strong>.</p>



<h3 class="title-2">Título 2</h3>
<h4 class="title-3">Título 3</h4>